.myHome {
    height:2000px;
};
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: block;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

h2 {
  color: gray;
  font-weight: normal;
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
}

.flex-container {
  display: flex;
  flex-direction: row;
  padding-left: 25%;
}

.product {
  padding-top: 20px;
  text-align: center;
  width: 100%;
  height: 124px;
}

.proheader {
  font-size: 30px;
}

.probody {
  font-size: 18px;
  padding-left: 25%;
  padding-right: 25%;
}

.crypto {
  background-image: url('../../public/crypto-brokerage-pt.png');
  background-size: cover;
  padding-top: 100px;
  padding-left: 20px;
  padding-right: 30px;
  text-align: left;
}

.crypto a {
  font-size: 30px;
  text-decoration: none;
}

.secure {
  background-image: url('../../public/securities-pt.png');
  background-size: cover;
  padding-top: 100px;
  padding-left: 20px;
  padding-right: 30px;
  text-align: left;
}

.secure a {
  font-size: 30px;
  text-decoration: none;
}

.commo {
  background-image: url('../../public/commodities-pt.png');
  background-size: cover;
  padding-top: 100px;
  padding-left: 20px;
  padding-right: 30px;
  text-align: left;
}

.commo a {
  font-size: 30px;
  text-decoration: none;
}

.flex-container2 {
  display: flex;
  flex-direction: row;
  padding-left: 20%;
  height: 300px;
  text-align: center;
}

.flex-container2 > div{
  margin-left: 20px;
  width:25%;
}

@media only screen and (min-width: 768px) {
  
.flex-container {
  display: flex;
  flex-direction: row;
  padding-left: 25%;
}

  .flex-container2 {
    display: flex;
    flex-direction: row;
    padding-left: 20%;
    height: 300px;
    text-align: center;
  }

} 

@media only screen and (max-width: 768px) {
  
  .flex-container {
    display: flex;
    flex-direction: column;
    padding-left: 25%;
  }
  
    .flex-container2 {
      display: flex;
      flex-direction: column;
      padding-left: 20%;
      height: 300px;
      text-align: center;
      height: auto;
    }
    
  } 